<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord - Gestion des Cabinets Médicaux</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>
    
    <div class="main-content">
    <section class="dashboard">
        <div class="welcome-card">
            <h2>Bienvenue</h2>
            <p>Accédez aux informations de vos patients, gérez les rendez-vous, et plus encore.</p>
        </div>

        <div class="stats-grid">
            <div class="stat-card">
                <h3>Nombre de Patients</h3>
                <p>350</p>
            </div>
            <div class="stat-card">
                <h3>Nombre de Médecins</h3>
                <p>45</p>
            </div>
            <div class="stat-card">
                <h3>Rendez-vous Aujourd'hui</h3>
                <p>15</p>
            </div>
            <div class="stat-card">
                <h3>Nombre des Matériels</h3>
                <p>26</p>
            </div>
        </div>
    </section>
    </div>
</body>